<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="use_mock_hardware" default="false"/>

  <xacro:include filename="$(find susumu_robo)/susumu_diffbot/urdf/inertial_macros.xacro"/>
  <xacro:include filename="$(find susumu_robo)/susumu_diffbot/urdf/diffbot_description.urdf.xacro"/>
  <xacro:include filename="$(find susumu_robo)/susumu_diffbot/urdf/imu.xacro"/>
  <xacro:include filename="$(find susumu_robo)/susumu_diffbot/urdf/lidar.xacro"/>

  <xacro:diffbot prefix="$(arg prefix)" />

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find susumu_robo)/susumu_diffbot/urdf/diffbot.ros2_control.xacro"/>
    <xacro:diffbot_ros2_control
      name="DiffBot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>
  </xacro:if>

</robot>
